<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <Login />
                </NotAuthorized>
                <Authorizing>
                    <h1>Authorization in progress</h1>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(NotFoundLayout)">
                <NavLink href="/">
                    <Button Type="@ButtonType.Primary">Back Home</Button>
                </NavLink>
            </LayoutView>
        </NotFound>
    </Router>
    <AntContainer />
</CascadingAuthenticationState>
