@page "/mbook/{MBookId}/rabill/{RABillId}"
@attribute [Authorize(Roles = "Manager")]

<h3>Edit RA Bill</h3>

<Form Model="@model" OnFinish="@OnFormSubmit" Layout="@FormLayout.Vertical" Loading="@loading">
    <Row Gutter="16">
        <AntDesign.Col Span="16">
            <FormItem Label="RA Bill Title">
                <Input Placeholder="General Remarks" @bind-Value="@context.Title" TValue="string" />
            </FormItem>
        </AntDesign.Col>
        <AntDesign.Col Span="8">
            <FormItem Label="RA Bill Date">
                <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" @bind-Value="@context.BillDate" Format="dd-MM-yyyy" Style="width: 100%" />
            </FormItem>
        </AntDesign.Col>
    </Row>

    <RABillItemTable ModelItems="@model.Items.Where(p => p.AvailableQty > 0).ToList()" />

    <FormItem Style="margin-top: 1rem">
        <Row Justify="end">
            <Button OnClick="@GoToMBookDetailPage" Style="margin-right: 0.25rem;">Cancel</Button>
            <Button HtmlType="submit" Type="@ButtonType.Primary">Save</Button>
        </Row>
    </FormItem>
</Form>

@code {
    [Parameter]
    public string MBookId { get; set; }

    [Parameter]
    public string RABillId { get; set; }

    bool loading = false;
    RABillRequest model = new RABillRequest
    {
        Items = new List<RABillItemRequest>()
    };

    protected override async Task OnInitializedAsync()
    {
        await LoadCurrentMBookItemsStatusAsync();
    }

    async Task LoadCurrentMBookItemsStatusAsync()
    {
        loading = true;
        var items = await mBookService.GetCurrentMBItemsStatus(int.Parse(MBookId));
        loading = false;

        foreach (var item in items)
        {
            model.Items.Add(new RABillItemRequest
            {
                MBookItemId = item.MBookItemId,
                MBookItemDescription = item.ItemDescription,
                UnitRate = item.UnitRate,
                AcceptedMeasuredQty = item.AcceptedMeasuredQty,
                TillLastRAQty = item.TillLastRAQty
            });
        }

        await LoadRABillDetailsAsync();
    }

    async Task LoadRABillDetailsAsync()
    {
        loading = true;
        var result = await raBillService.GetRABillById(int.Parse(RABillId));
        loading = false;

        if (!result.Succeeded)
        {
            navManager.NavigateTo($"/mbooks/{MBookId}/tab3");
            await messageService.Warning(result.Message);
            return;
        }

        model.Title = result.Data.Title;
        model.BillDate = result.Data.BillDate;
        model.MeasurementBookId = result.Data.MeasurementBookId;

        foreach (var item in model.Items)
        {
            var oldRaItem = result.Data.Items.Find(p => p.MBookItemId == item.MBookItemId);
            item.CurrentRAQty = oldRaItem != null ? oldRaItem.CurrentRAQty : 0;
            item.Remarks = oldRaItem != null ? oldRaItem.Remarks : "";
        }

        StateHasChanged();
    }

    async Task OnFormSubmit()
    {
        if (model.Items.Where(p => p.CurrentRAQty > 0).ToList().Count < 1)
        {
            await messageService.Error("Atleast one line item should have value greater than 0");
            return;
        }

        loading = true;
        dynamic result = await raBillService.EditRABill(int.Parse(RABillId), model);
        loading = false;

        if (result.Succeeded)
        {
            navManager.NavigateTo($"/mbooks/{MBookId}/tab3");
            await messageService.Success(result.Message);
        }
        else
        {
            if (result.Errors.Count == 0)
            {
                await messageService.Error(result.Message);
                return;
            }

            foreach (var error in result.Errors)
            {
                messageService.Error(error);
            }
        }
    }

    void GoToMBookDetailPage()
    {
        navManager.NavigateTo($"/mbooks/{MBookId}/tab3");
    }
}
