
<div style="margin-top:14px">
</div>
<Table TItem="RABillItemRequest"
       DataSource="@Stepper.Model.Items"
       Size="@TableSize.Small"
       RowClassName="@(x => x.Data.CurrentRAQty > x.Data.AvailableQty ? "danger" : null)"
       PageSize="@Stepper.Model.Items.Count"
       ScrollX="800"
       Responsive="false"
       Bordered HidePagination>

    <Column Title="Description" @bind-Field="@context.WorkOrderItemDescription"></Column>
    <Column Title="PO Qty" TData="float"> @context.PoQuantity.ToString("0.00")</Column>
    <Column Title="Rate" TData="decimal">@context.UnitRate</Column>
    <Column Title="Approved Measured Qty" TData="float">
        @context.AcceptedMeasuredQty.ToString("0.00")
    </Column>
    <Column Title="Till Last RA Qty" TData="float">
        @context.TillLastRAQty.ToString("0.00")
    </Column>
    <Column Title="Available Qty" TData="float">
        @context.AvailableQty.ToString("0.00")
    </Column>
    <Column Title="Current Qty" TData="float">
        <Input Type="text" @bind-Value="context.CurrentRAQty" />
    </Column>
    <Column Title="Current Amt (Rs)" TData="decimal">
        @context.CurrentRAAmount.ToString("0.00")
    </Column>
    <Column Title="Remarks" TData="float" Width="16%">
        <Input Type="text" @bind-Value="context.Remarks" />
    </Column>

    <SummaryRow>
        <SummaryCell ColSpan="4" Style="text-align:right">
            <Text Style="font-weight: bold">Total</Text>
        </SummaryCell>
        <SummaryCell ColSpan="2" Style="text-align:right">
            <Text Mark>Rs. @GetTotalAvailableAmount().ToString("0.00")</Text>
        </SummaryCell>
        <SummaryCell ColSpan="2" Style="text-align:right">
            <Text Mark>Rs. @GetTotalCurrentRAAmount().ToString("0.00")</Text>
        </SummaryCell>
        <SummaryCell />
    </SummaryRow>
</Table>

<Row Style="margin-top: 2rem">
    <GridCol>
        <Button Type="@ButtonType.Default" OnClick="Previous">Privious</Button>
        <Button HtmlType="submit" Type="@ButtonType.Primary" OnClick="()=> OnSubmit.InvokeAsync()" Disabled="@Stepper.Submitting">SAVE</Button>
    </GridCol>
</Row>


<style>
    .danger {
        background-color: #fff1f0;
    }
</style>

@code {


    [CascadingParameter]
    public AddRABillPage Stepper { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }


    decimal GetTotalAvailableAmount()
    {
        return Stepper.Model.Items.Aggregate((decimal)0, (curr, item) => curr + item.AvailableAmount);
    }

    decimal GetTotalCurrentRAAmount()
    {
        return Stepper.Model.Items.Aggregate((decimal)0, (curr, item) => curr + item.CurrentRAAmount);
    }
    void Previous()
    {
        Stepper.Prev();
    }

    
}
