<Table TItem="RABillItemRequest"
       DataSource="@ModelItems"
       Size="@TableSize.Small"
       RowClassName="@(x => x.Data.CurrentRAQty > x.Data.AvailableQty ? "danger" : null)"
       PageSize="@ModelItems.Count"
       ScrollX="800"
       Responsive="false"
       Bordered HidePagination>

    <Column Title="Description" @bind-Field="@context.WorkOrderItemDescription" Width="32%"></Column>
    <Column Title="Unit Rate" TData="decimal" DataIndex="@(nameof(context.UnitRate))" Width="9%" />
    <Column Title="Measured Qty (A)" TData="float" Width="8%">
        @context.AcceptedMeasuredQty.ToString("0.00")
    </Column>
    <Column Title="Till Last RA Qty" TData="float" Width="8%">
        @context.TillLastRAQty.ToString("0.00")
    </Column>
    <Column Title="Available Qty" TData="float" Width="8%">
        @context.AvailableQty.ToString("0.00")
    </Column>
    <Column Title="Current Qty" TData="float" Width="10%">
        <Input Type="text" @bind-Value="context.CurrentRAQty" />
    </Column>
    <Column Title="Current Amt (Rs)" TData="decimal" Width="10%">
        @context.CurrentRAAmount.ToString("0.00")
    </Column>
    <Column Title="Remarks" TData="float" Width="15%">
        <Input Type="text" @bind-Value="context.Remarks" />
    </Column>

    <SummaryRow>
        <SummaryCell ColSpan="4" Style="text-align:right">
            <Text Style="font-weight: bold">Total</Text>
         </SummaryCell>
        <SummaryCell ColSpan="2" Style="text-align:right">
            <Text Mark>Rs. @GetTotalAvailableAmount().ToString("0.00")</Text>
        </SummaryCell>
        <SummaryCell ColSpan="2" Style="text-align:right">
            <Text Mark>Rs. @GetTotalCurrentRAAmount().ToString("0.00")</Text>
        </SummaryCell>
        <SummaryCell />
    </SummaryRow>
</Table>

<style>
    .danger {
        background-color: #fff1f0;
    }
</style>

@code {
    [Parameter]
    public List<RABillItemRequest> ModelItems { get; set; }

    decimal GetTotalAvailableAmount()
    {
        return ModelItems.Aggregate((decimal)0, (curr, item) => curr + item.AvailableAmount);
    }

    decimal GetTotalCurrentRAAmount()
    {
        return ModelItems.Aggregate((decimal)0, (curr, item) => curr + item.CurrentRAAmount);
    }
}
