<Button OnClick="() => GoToAddPage()"
        Icon="@IconType.Outline.Plus"
        Type="@ButtonType.Primary"
        Disabled="@raBills.Any(p => p.Status == RABillStatus.CREATED || p.Status == RABillStatus.REVOKED)"
        style="margin-bottom: 0.5rem;">
    Add RA Bill
</Button>

<Table Loading="@loading" TItem="RABillResponse" Size="@TableSize.Small" DataSource="@raBills" Bordered>
    <RowTemplate>
        <Column Title="RA Bill Title" TData="string" DataIndex="@nameof(context.Title)"/>
        <Column Title="RA Bill Amount" TData="decimal" Width="15%">
            Rs. @context.RABillTotalAmount.ToString("0.00")
        </Column>
        <Column Title="Bill Date" Format="dd-MM-yyyy" @bind-Field="@context.BillDate" Width="10%" />
        <Column @bind-Field="@context.Status" Width="10%">
            @if (context.Status == RABillStatus.APPROVED)
            {
                <Tag Color="gold">@context.Status</Tag>
            }
            else if (context.Status == RABillStatus.REVOKED)
            {
                <Tag Color="blue">@context.Status</Tag>
            }
            else
            {
                <Tag Color="green">@context.Status</Tag>
            }
        </Column>
        <ActionColumn Title="Action" Width="20%">
            @if(currentUser != null && currentUser.IsInRole("Manager"))
            {
            <Row Justify="ceter">
                @if (context.Status == RABillStatus.CREATED || context.Status == RABillStatus.REVOKED)
                {
                    <Button OnClick="() => GoToEditPage(context.Id)" Icon="@(IconType.Outline.Edit)" Size="@ButtonSize.Small" Style="margin-right: 0.2rem" />

                    <Popconfirm Title="Sure to delete?"
                                OnConfirm="()=> DeleteRABill(context.Id)"
                                OkText="Yes"
                                CancelText="No">
                        <Button Icon="@(IconType.Outline.Delete)" Size="@ButtonSize.Small" Loading="@loading" Danger />
                    </Popconfirm>

                    <Popconfirm Title="Sure to approve RA Bill?"
                                OnConfirm="()=> ApproveRABill(context.Id)"
                                OkText="Yes"
                                CancelText="No">
                        <Button Size="@ButtonSize.Small" Loading="@loading" style="margin-left: 0.15rem">Approve</Button>
                    </Popconfirm>
                }
                @if (context.Status == RABillStatus.APPROVED && context.Id == latestRaBillId)
                {
                    <Popconfirm Title="Sure to Revoke RA Bill Status?"
                                OnConfirm="()=> RevokeRABillStatus(context.Id)"
                                OkText="Yes"
                                CancelText="No">
                        <Button Danger Size="@ButtonSize.Small" Loading="@loading" style="margin-left: 0.15rem">Revoke</Button>
                    </Popconfirm>
                }
            </Row>
            }
        </ActionColumn>
    </RowTemplate>

    <ExpandTemplate Context="rowData">
        <Table DataSource="rowData.Data.Items" 
               PageSize="rowData.Data.Items.Count" 
               Size="@TableSize.Small" 
               HidePagination Bordered>

            <Column Title="Line Item Description" @bind-Field="@context.MBookItemDescription" Width="43%" />
            <Column Title="Unit Rate" TData="decimal" DataIndex="@nameof(context.UnitRate)" Width="8%" />
            <Column Title="Measured Qty" TData="float" Width="8%">
                @context.AcceptedMeasuredQty.ToString("0.00")
            </Column>
            <Column Title="Till Last RA" TData="float" Width="8%">
                @context.TillLastRAQty.ToString("0.00")
            </Column>
            <Column Title="Current RA Qty" TData="float" Width="8%">
                @context.CurrentRAQty.ToString("0.00")
            </Column>
            <Column Title="Current RA (Rs)" TData="decimal" Width="10%">
                @context.CurrentRAAmount.ToString("0.00")
            </Column>
            <Column Title="Remarks" TData="string" DataIndex="@nameof(context.Remarks)" Width="15%" />
        </Table>
    </ExpandTemplate>
</Table>

@code {
    [Parameter]
    public int MBookId { get; set; }

    List<RABillResponse> raBills = new();
    bool loading = false;
    int latestRaBillId => raBills.Select(p => p.Id).Max();
    private ClaimsPrincipal currentUser;

    protected override async Task OnInitializedAsync()
    {
        var state = await stateProvider.GetAuthenticationStateAsync();
        currentUser = state.User;

        await LoadRABills();
    }

    async Task LoadRABills()
    {
        loading = true;
        raBills = await raBillService.GetRABillsByMBookId(MBookId);
        loading = false;
    }

    async Task DeleteRABill(int id)
    {
        loading = true;
        var result = await raBillService.DeleteRABill(id);
        loading = false;

        if (result.Succeeded)
        {
            raBills = raBills.Where(item => item.Id != id).ToList();
            StateHasChanged();
            await messageService.Success(result.Message);
        }
        else
        {
            await messageService.Error(result.Message);
        }
    }

    void GoToAddPage()
    {
        navManager.NavigateTo($"/mbook/{MBookId}/rabill");
    }

    void GoToEditPage(int raBillId)
    {
        navManager.NavigateTo($"/mbook/{MBookId}/rabill/{raBillId}");
    }

    async Task RevokeRABillStatus(int id)
    {
        loading = true;
        var result = await raBillService.RevokeRABill(id);
        loading = false;

        if (result.Succeeded)
        {
            await LoadRABills();
            StateHasChanged();
            await messageService.Success(result.Message);
        }
        else
        {
            await messageService.Error(result.Message);
        }
    }

    async Task ApproveRABill(int id)
    {
        loading = true;
        var result = await raBillService.ApproveRABill(id);
        loading = false;

        if (result.Succeeded)
        {
            await LoadRABills();
            StateHasChanged();
            await messageService.Success(result.Message);
        }
        else
        {
            await messageService.Error(result.Message);
        }
    }
}
