<Table TItem="RABillItemRequest" DataSource="@ModelItems" Size="@TableSize.Small" Loading="@loading" Bordered HidePagination>

    <Column Title="Description" @bind-Field="@context.MBookItemDescription" Width="45"></Column>
    <Column Title="Unit Rate" @bind-Field="@context.UnitRate" Width="8%"></Column>
    <Column Title="Measured Qty (A)" @bind-Field="@context.AcceptedMeasuredQty" Width="8%"></Column>
    <Column Title="Till Last RA Qty" @bind-Field="@context.TillLastRAQty" Width="8%"></Column>
    <Column Title="Available Qty" TData="float" DataIndex="@nameof(context.AvailableQty)" Width="8%" />
    <Column Title="Current RA Qty" TData="float" Width="8%">
        <Input Type="text" @bind-Value="context.CurrentRAQty" />
    </Column>
    <Column Title="Remarks" TData="float" Width="15%">
        <Input Type="text" @bind-Value="context.Remarks" />
    </Column>
</Table>

@code {
    [Parameter]
    public List<RABillItemRequest> ModelItems { get; set; }
    bool loading;
}
