<Row Style="margin-bottom: 0.75rem">
    <AntDesign.Col>
        <Space>
            <SpaceItem>
                <Button Icon="@(IconType.Outline.Plus)" Type="@(ButtonType.Primary)" OnClick="() => OpenSideDrawer(true)">Add Location</Button>
            </SpaceItem>
            @if (selectedRows != null)
            {
                <SpaceItem>
                    <Button Icon="@(IconType.Outline.Edit)" OnClick="() => OpenSideDrawer()">Edit Location</Button>
                </SpaceItem>
                <SpaceItem>
                    <Popconfirm Title="Sure to Delete Contractor?"
                                Placement="@Placement.Bottom"
                                OnConfirm="() => DeleteLocation(selectedRows.First().Id)"
                                OkText="Yes"
                                CancelText="No">
                        <Button Icon="@(IconType.Outline.Rocket)" Loading="@loading" Danger>Delete</Button>
                    </Popconfirm>
                </SpaceItem>
            }
        </Space>
    </AntDesign.Col>
    <AntDesign.Col Flex="2" />
    <AntDesign.Col Flex="1">
        <Row>
            <AntDesign.Col Flex="1">
                <Input Placeholder="Search" @bind-Value="@search" />
            </AntDesign.Col>
            <AntDesign.Col Style="margin-left: 0.75rem">
                <Tooltip Title="@IconType.Outline.Search">
                    <Button Type="@ButtonType.Default" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Search" OnClick="@LoadLocationsAsync" />
                </Tooltip>
            </AntDesign.Col>
        </Row>
    </AntDesign.Col>
</Row>

<AddEditLocationDrawer CurrentProject="@selectedRows?.First()" Visible="@drawerVisible" OnClose="@CloseSideBar" OnItemUpdate="@LoadLocationsAsync" />

<Table TItem="ProjectResponse"
       DataSource="@projects"
       Loading="loading"
       Size="@TableSize.Small"
       OnChange="@LoadLocationsAsync"
       @bind-SelectedRows="selectedRows">

    <Selection Key="@context.Id.ToString()" Type="radio" />
    <Column @bind-Field="@context.Name" />
</Table>

@code{
    List<ProjectResponse> projects = new();
    IEnumerable<ProjectResponse> selectedRows;

    bool loading = false;
    bool drawerVisible = false;
    string search;

    protected override async Task OnInitializedAsync()
    {
        await LoadLocationsAsync();
    }

    async Task LoadLocationsAsync()
    {
        loading = true;
        selectedRows = null;
        projects = await projectservice.GetAllProjects();
        loading = false;
    }

    async Task DeleteLocation(int id)
    {
        loading = true;
        var result = await projectservice.DeleteProject(id);
        loading = false;
        selectedRows = null;

        if (result.Succeeded)
        {
            projects = projects.Where(item => item.Id != id).ToList();
            StateHasChanged();
            await messageService.Success(result.Message);
        }
        else
        {
            await messageService.Error(result.Message);
        }
    }

    void OpenSideDrawer(bool isAdd = false)
    {
        if (isAdd)
        {
            selectedRows = null;
        }
        drawerVisible = true;
    }

    void CloseSideBar()
    {
        drawerVisible = false;
    }
}