@page "/workorder"
@attribute [Authorize(Roles="Admin, Manager")]

<Row Style="margin-bottom: 0.75rem">
    <AntDesign.Col>
        <Space>
            <SpaceItem>
                <Button Icon="@(IconType.Outline.Plus)" Type="@(ButtonType.Primary)" OnClick="() => OpenSideDrawer(true)">Add Item</Button>
            </SpaceItem>
            @if (selectedRows != null)
            {
                @if (selectedRows.First().Status == WorkOrderStatus.CREATED.ToString())
                {
                    <SpaceItem>
                        <Button Icon="@(IconType.Outline.Edit)" OnClick="() => OpenSideDrawer()">Edit</Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Popconfirm Title="Are you sure delete this order?"
                                    Placement="@Placement.Bottom"
                                    OnConfirm="@(() => ConfirmDelete(selectedRows.First().Id))"
                                    OkText="Yes"
                                    CancelText="No">
                            <Button Danger Icon="@IconType.Outline.Delete" Loading="@loading">Delete</Button>
                        </Popconfirm>
                    </SpaceItem>
                }
                <SpaceItem>
                    <Button Type="@ButtonType.Default" Icon="@IconType.Outline.Read" OnClick="() => ViewDetail(selectedRows.First().Id)">Details</Button>
                </SpaceItem>
            }
        </Space>
    </AntDesign.Col>
    <AntDesign.Col Flex="2" />
    <AntDesign.Col Flex="1">
        <Row>
            <AntDesign.Col Flex="1">
                <Input Placeholder="Search" @bind-Value="@search" />
            </AntDesign.Col>
            <AntDesign.Col Style="margin-left: 0.75rem">
                <Tooltip Title="@IconType.Outline.Search">
                    <Button Type="@ButtonType.Default" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Search" OnClick="LoadWorkOrdersAsync" />
                </Tooltip>
            </AntDesign.Col>
        </Row>
    </AntDesign.Col>
</Row>

<AddEditWorkOrderDrawer WorkOrder="@selectedRows?.First()" Visible="@drawerVisible" OnClose="@CloseSideBar" />

<Table Loading="@loading"
       OnChange="@LoadWorkOrdersAsync"
       TItem="WorkOrderResponse"
       DataSource="@workOrders"
       Total="total"
       @bind-PageIndex="pageIndex"
       @bind-PageSize="pageSize"
       @bind-SelectedRows="selectedRows">

    <Selection Key="@context.Id.ToString()" Type="radio" Width="5%" />
    <Column @bind-Field="@context.OrderNo" Width="15%" />
    <Column @bind-Field="@context.OrderDate" Format="dd-MM-yyyy" Width="10%" />
    <Column @bind-Field="@context.ContractorName" Width="20%" />
    <Column @bind-Field="@context.Title" Width="40%" />
    <Column @bind-Field="@context.Status" Width="10%">
        @if (context.Status == "COMPLETED")
        {
            <Tag Color="gold">@context.Status</Tag>
        }
        else if (context.Status == "PUBLISHED")
        {
            <Tag Color="blue">@context.Status</Tag>
        }
        else
        {
            <Tag Color="green">@context.Status</Tag>
        }
    </Column>
</Table>

<p>PageIndex: @pageIndex | PageSize: @pageSize | Total: @total</p>

@code {
    List<WorkOrderResponse> workOrders = new();

    IEnumerable<WorkOrderResponse> selectedRows;

    int pageIndex = 1;
    int pageSize = 10;
    int total = 0;
    bool loading = false;
    bool drawerVisible = false;
    string search;

    async Task LoadWorkOrdersAsync()
    {
        loading = true;
        selectedRows = null;
        var response = await workOrderService.GetUserWorkOrdersPagination(pageIndex, pageSize, search);
        workOrders = response.Items;
        total = response.TotalCount;
        loading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadWorkOrdersAsync();
    }

    async Task ConfirmDelete(int id)
    {
        loading = true;
        var result = await workOrderService.DeleteWorkOrder(id);
        loading = false;
        selectedRows = null;

        if (result.Succeeded)
        {
            workOrders = workOrders.Where(item => item.Id != id).ToList();
            StateHasChanged();
            await messageService.Success(result.Message);
        }
        else
        {
            await messageService.Error(result.Message);
        }
    }

    void ViewDetail(int id)
    {
        navManager.NavigateTo($"/workorder/{id}");
    }

    void OpenSideDrawer(bool isAdd = false)
    {
        if (isAdd)
        {
            selectedRows = null;
        }
        drawerVisible = true;
    }

    void CloseSideBar()
    {
        drawerVisible = false;
    }
}
