<Drawer Closable="true" Width="850"
        Title="@("Fetch PO from SAP")"
        Visible="@Visible" OnClose="@Close">

    <Row Gutter="16">
        <AntDesign.Col Span="16">
            <Input Placeholder="Purchase Order No" TValue="string" @bind-Value="poNumber" />
        </AntDesign.Col>
        <AntDesign.Col Span="8">
            <Button Type="@ButtonType.Primary" OnClick="@SearchPO">Fetch</Button>
        </AntDesign.Col>
    </Row>

    @if (purchaseOrder != null)
    {
        <Descriptions Size="@DescriptionsSize.Small"
                  Bordered
                  Layout="@DescriptionsLayout.Vertical"
                  Style="margin-top: 1.25rem; margin-bottom: 1.25rem;">
            <DescriptionsItem Title="Order No">@purchaseOrder.OrderNo</DescriptionsItem>
            <DescriptionsItem Title="Order Date">@purchaseOrder.OrderDate</DescriptionsItem>
            <DescriptionsItem Title="Contractor">@purchaseOrder.ContractorName</DescriptionsItem>
            <DescriptionsItem Title="Project Code">@purchaseOrder.ProjectId</DescriptionsItem>
            <DescriptionsItem Title="Project">@purchaseOrder.ProjectName</DescriptionsItem>
        </Descriptions>

        <Table TItem="OrderItem"
           PageSize="@purchaseOrder.Items.Count"
           Size="@TableSize.Small"
           DataSource="@purchaseOrder.Items"
           HidePagination>
            <ColumnDefinitions>
                <Column Title="Item No" @bind-Field="@context.ItemNo" Width="20%" />
                <Column Title="Description" @bind-Field="@context.Description" Width="80%" />
            </ColumnDefinitions>

            <ExpandTemplate Context="rowData">
                <Table TItem="ServiceItem"
                   PageSize="rowData.Data.Details.Count"
                   DataSource="rowData.Data.Details"
                   Bordered HidePagination>
                    <Column TData="int" Title="SubItem No" Width="15%">@context.SubItemNo</Column>
                    <Column TData="int" Title="Service No" Width="15%">@context.ServiceNo</Column>
                    <Column TData="string" Title="Description" Width="34%">@context.ShortDesc</Column>
                    <Column TData="string" Title="Uom" DataIndex="@nameof(context.Uom)" Width="12%" />
                    <Column TData="decimal" Title="Unit Rate" DataIndex="@nameof(context.UnitRate)" Width="12%" />
                    <Column TData="decimal" Title="Quantity" DataIndex="@nameof(context.Quantity)" Width="12%" />
                </Table>
            </ExpandTemplate>
        </Table>

        <Form Style="margin-top: 1.25rem;"
          Layout="@FormLayout.Vertical"
          Loading="loading"
          Model="@model"
          OnFinish="@OnSubmit">

            <FormItem WrapperColSpan="6">
                <Button Type="@ButtonType.Default" OnClick="@Close">Cancel</Button>
                <Button HtmlType="submit" Type="@ButtonType.Primary">Save</Button>
            </FormItem>
        </Form>
    }
    else
    {
        <Spin Spinning="loading">
            <Empty Style="margin-top: 2.5rem" />
        </Spin>
    }
</Drawer>
<style>
    .anticon-close {
        color: #fff !important;
    }
</style>

@code {
    [Parameter]
    public WorkOrderResponse WorkOrder { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    PurchaseOrder purchaseOrder;
    WorkOrderRequest model { get; set; } = new();

    bool loading;
    string poNumber;

    async Task SearchPO()
    {
        if (String.IsNullOrWhiteSpace(poNumber)) return;

        purchaseOrder = null;
        loading = true;
        StateHasChanged();

        var result = await workOrderService.FetchPOFromSAP(poNumber);
        loading = false;
        if (!result.Succeeded)
        {
            await messageService.Error(result.Message);
            return;
        }

        purchaseOrder = result.Data;
        
        // filter out deleted items
        purchaseOrder.Items = purchaseOrder.Items.Where(p => !bool.Parse(p.IsDeleted)).ToList();
        foreach (var item in purchaseOrder.Items)
        {
            item.Details = item.Details.Where(p => !bool.Parse(p.IsDeleted)).ToList();
        }
    }

    async Task OnSubmit(EditContext context)
    {
        loading = true;
        model.OrderNo = purchaseOrder.OrderNo;
        var result = await workOrderService.CreateWorkOrder(model);
        loading = false;

        if (!result.Succeeded)
        {
            await messageService.Error(result.Message);
            return;
        }

        Close();
        var orderId = WorkOrder != null ? WorkOrder.Id : result.Data;
        navManager.NavigateTo($"/orderdetail/{orderId}");
        await messageService.Success(result.Message);
    }

    void Close()
    {
        OnClose.InvokeAsync();
    }
}