@using System.IO;

<Table TItem="OrderItem"
       PageSize="@OrderItems.Count"
       Size="@TableSize.Small"
       DataSource="@OrderItems"
       Responsive="false"
       ScrollX="450"
       HidePagination>

    <RowTemplate>
        <Column Title="Item No" @bind-Field="@context.ItemNo" Width="20%" />
        <Column Title="Description" @bind-Field="@context.Description" Width="80%" />
    </RowTemplate>

    <ExpandTemplate Context="rowData">
        <Table TItem="WorkOrderItemResponse"
               DataSource="@Items.Where(p => p.ItemNo == rowData.Data.ItemNo)"
               Bordered>
            <Column TData="int" Title="SubItem No" Width="15%">@context.SubItemNo</Column>
            <Column TData="int" Title="Service No" Width="15%">@context.ServiceNo</Column>
            <Column TData="string" Title="Description" Width="34%">@context.ShortServiceDesc</Column>
            <Column TData="string" Title="Uom" DataIndex="@nameof(context.Uom)" Width="12%" />
            <Column TData="decimal" Title="Unit Rate" DataIndex="@nameof(context.UnitRate)" Width="12%" />
            <Column TData="decimal" Title="Quantity" DataIndex="@nameof(context.PoQuantity)" Width="12%" />
        </Table>
    </ExpandTemplate>
</Table>

@code {
    [Parameter]
    public List<WorkOrderItemResponse> Items { get; set; }

    public List<OrderItem> OrderItems = new();

    public List<ServiceItem> ServiceItems = new();

    protected override void OnParametersSet()
    {
        foreach (var item in Items)
        {
            var orderItem = OrderItems.Find(p => p.ItemNo == item.ItemNo);
            if (orderItem == null)
            {
                OrderItems.Add(new OrderItem
                {
                        ItemNo = item.ItemNo,
                        Description = item.ItemDescription
                });
            }
        }
    }
}
