@page "/mbooks"
@attribute [Authorize]

<Row Style="margin-bottom: 0.75rem">
    <AntDesign.Col>
        <Button Icon="@IconType.Outline.Read"
                Disabled="@(selectedRows == null)"
                OnClick="() => ViewDetail(selectedRows.First().Id)">Details
        </Button>
    </AntDesign.Col>
    <AntDesign.Col Flex="2" />
    <AntDesign.Col Flex="1">
        <Row>
            <AntDesign.Col>
                <Select DataSource="@statuses"
                        @bind-Value="@status"
                        ValueName="@nameof(MBookStatusSL.Val)"
                        LabelName="@nameof(MBookStatusSL.Desc)"
                        Placeholder="Filter by Status"
                        OnSelectedItemChanged="async (context) => await OnSelectedItemChangedHandler(context)"
                        Style="margin-right: 0.75rem"
                        AllowClear>
                </Select>
            </AntDesign.Col>
            <AntDesign.Col Flex="1">
                <Input Placeholder="Search by order no, contractor or title" @bind-Value="@search" />
            </AntDesign.Col>
            <AntDesign.Col Style="margin-left: 0.75rem">
                <Tooltip Title="@IconType.Outline.Search">
                    <Button Type="@ButtonType.Default" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Search" OnClick="@LoadMBooksAsync" />
                </Tooltip>
            </AntDesign.Col>
        </Row>
    </AntDesign.Col>
</Row>

<Table TItem="MBookHeaderResponse"
       DataSource="@mBooks"
       Loading="loading"
       OnChange="@LoadMBooksAsync"
       Total="total"
       @bind-PageIndex="pageIndex"
       @bind-PageSize="pageSize"
       @bind-SelectedRows="selectedRows"
       Size="@TableSize.Small"
       Responsive="false"
       ScrollX="600">

    <Selection Key="@context.OrderNo" Type="radio" />
    <Column @bind-Field="@context.Title" />
    <Column @bind-Field="@context.Contractor" />
    <Column @bind-Field="@context.OrderNo" />
    <Column @bind-Field="@context.OrderDate" Format="dd-MM-yyyy" />
    @*<Column @bind-Field="@context.Status" />*@
</Table>

@code {
    List<MBookHeaderResponse> mBooks = new();
    IEnumerable<MBookHeaderResponse> selectedRows;

    int pageIndex = 1;
    int pageSize = 10;
    int total = 0;
    bool loading = false;
    string search;
    int status;

    List<MBookStatusSL> statuses = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadMBooksAsync();

        var items = from MBookStatus d
                    in Enum.GetValues(typeof(MBookStatus))
                    where (int)d > 1
                    select new MBookStatusSL { Val = (int)d, Desc = d.ToString() };

        statuses = items.ToList();
    }

    async Task LoadMBooksAsync()
    {
        loading = true;
        selectedRows = null;
        var response = await mBookService.GetMBooksByUserIdPagination(pageIndex, pageSize, search, status);
        mBooks = response.Items;
        total = response.TotalCount;
        loading = false;
        StateHasChanged();
    }

    void ViewDetail(int id)
    {
        navManager.NavigateTo($"/mbooks/{id}");
    }

    private async Task OnSelectedItemChangedHandler(MBookStatusSL value)
    {
        if (value == null)
        {
            status = 0;
        }

        await LoadMBooksAsync();
    }

    private class MBookStatusSL
    {
        public string Desc { get; set; }
        public int Val { get; set; }
    }
}
