@page "/mbook/{MBookId}/mbsheet"
@attribute [Authorize]

<h3>Add MB Sheet</h3>

<Form Model="@model" OnFinish="@OnFormSubmit" Layout="@FormLayout.Vertical" Loading="@loading">
    <Row Gutter="16">
        <AntDesign.Col Span="6">
            <FormItem Label="Measurement Date">
                <DatePicker TValue="DateTime?" Picker="@DatePickerType.Date" @bind-Value="@context.MeasurementDate" Format="dd-MM-yyyy" Style="width: 100%" />
            </FormItem>
        </AntDesign.Col>
        <AntDesign.Col Span="4">
            <FormItem Label="Action">
                <Button HtmlType="submit" Type="@ButtonType.Primary">Save</Button>
            </FormItem>
        </AntDesign.Col>
    </Row>
</Form>

<Row Justify="start" Style="margin-top: 2rem;">
    <Button OnClick="@GoToMBookDetailPage" Style="margin-right: 0.25rem;">Go Back</Button>
</Row>

@code {
    [Parameter]
    public string MBookId { get; set; }

    bool loading = false;

    MBSheetRequest model = new();

    async Task OnFormSubmit()
    {
        loading = true;
        model.MeasurementBookId = int.Parse(MBookId); // set measurement book id

        var result = await mbSheetService.CreateMBSheet(model);
        if (result.Succeeded)
        {
            GoToDetailPage(result.Data);
            await messageService.Success("Successfully Created MB Sheet Header");
        }
        else
        {
            await messageService.Error(result.Message);
        }

        loading = false;
        StateHasChanged();
    }

    void GoToMBookDetailPage()
    {
        navManager.NavigateTo($"/mbooks/{MBookId}/tab2");
    }

    void GoToDetailPage(int mbSheetId)
    {
        navManager.NavigateTo($"/mbook/{MBookId}/mbsheet/{mbSheetId}");
    }
}
