<Row Gutter="(16, 16)" Align="center">
    <AntDesign.Col Xs="24" Sm="24" Md="24" Lg="9">
        <Card Class="shadow">
            <TitleTemplate>
                <Icon Type="credit-card" Theme="outline" /> Measurement Books
            </TitleTemplate>
            <Extra>
                <Icon Type="double-right" Theme="outline" />
            </Extra>

            <Body>
                <p>Measurement Sheets Summary</p>
                <Row Gutter="16">
                    <AntDesign.Col Span="12">
                        <Statistic Title="Validation Pending" Value="@stats.MBSheetValidation" ValueStyle="color: #3f8600;">
                            <PrefixTemplate>
                                <span><Icon Type="Check" /></span>
                            </PrefixTemplate>
                        </Statistic>
                        <Button OnClick="@LoadPendingMBValidations"
                                Style="margin-top: 16px;">
                            View
                        </Button>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <Statistic Title="Approval Pending" Value="@stats.MBSheetApproval">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                        <Button OnClick="@LoadPendingMBApprovals"
                                Style="margin-top: 16px;" Type="@ButtonType.Primary">
                            View
                        </Button>
                    </AntDesign.Col>
                </Row>
            </Body>
        </Card>
    </AntDesign.Col>
    <AntDesign.Col Xs="24" Sm="24" Md="24" Lg="6">
        <Card Class="shadow">
            <TitleTemplate>
                <Icon Type="credit-card" Theme="outline" /> RA Bills
            </TitleTemplate>
            <Extra>
                <Icon Type="double-right" Theme="outline" />
            </Extra>

            <Body>
                <p>RA Bill Summary</p>
                <Row Gutter="16">
                    <AntDesign.Col>
                        <Statistic Title="Approval Pending" Value="@stats.RABillApproval">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                        <Button OnClick="@LoadPendingRABills"
                                Style="margin-top: 16px;" 
                                Type="@ButtonType.Primary">
                            View
                        </Button>
                    </AntDesign.Col>
                </Row>
            </Body>
        </Card>
    </AntDesign.Col>
    <AntDesign.Col Xs="24" Sm="24" Md="24" Lg="9">
        <Card Class="shadow">
            <TitleTemplate>
                <Icon Type="credit-card" Theme="outline" />  Work Orders
            </TitleTemplate>
            <Extra>
                <Icon Type="double-right" Theme="outline" />
            </Extra>

            <Body>
                <p>Work orders summary</p>
                <Row Gutter="16">
                    <AntDesign.Col Span="12">
                        <Statistic Title="Pending Orders" Value="@stats.WorkOrderPending" ValueStyle="color: #3f8600;">
                            <PrefixTemplate>
                                <span><Icon Type="Check" /></span>
                            </PrefixTemplate>
                        </Statistic>
                        <Button OnClick="@LoadPendingOrders"
                                Style="margin-top: 16px;">
                            View
                        </Button>
                    </AntDesign.Col>
                    <AntDesign.Col Span="12">
                        <Statistic Title="Published Orders" Value="@stats.WorkOrderPublished">
                            <PrefixTemplate>
                                <span><Icon Type="arrow-up" /></span>
                            </PrefixTemplate>
                        </Statistic>
                        <Button OnClick="@LoadPublishedOrders"
                                Style="margin-top: 16px;" 
                                Type="@ButtonType.Primary">
                            View
                        </Button>
                    </AntDesign.Col>
                </Row>
            </Body>
        </Card>
    </AntDesign.Col>
</Row>

<style>
    .shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
</style>

@code {
    DashboardStatsResponse stats = new();
    bool loading;

    protected override async Task OnParametersSetAsync()
    {
        await LoadDashboardStatsAsync();
    }

    async Task LoadDashboardStatsAsync()
    {
        loading = true;
        stats = await dashboardService.GetDasbordStats();
        loading = false;
        StateHasChanged();
    }

    void LoadPendingOrders()
    {
        navManager.NavigateTo($"/workorder/{(int)WorkOrderStatus.CREATED}");
    }

    void LoadPublishedOrders()
    {
        navManager.NavigateTo($"/workorder/{(int)WorkOrderStatus.PUBLISHED}");
    }

    void LoadPendingRABills()
    {
        navManager.NavigateTo($"/rabills/pending");
    }

    void LoadPendingMBValidations()
    {
        navManager.NavigateTo($"/mbsheets/pending/validation");
    }

    void LoadPendingMBApprovals()
    {
        navManager.NavigateTo($"/mbsheets/pending/approval");
    }
}
